*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    height: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #b03c3c;
    box-shadow: 0 0 10px #82740c1a;
    border-radius: 100px;
    border-top: 10px solid #5cb85c;
    border-spacing: 10px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    width: 100%;
}

#feedback {
    font-weight: bold;
}

#score {
    font-weight: bold;
}

#options button {
    transition: background-color 0.3s ease-in-out;
}

#options button.correct {
    color: #ffffff;
}

#options button.incorrect {
    color: #161414;
}

#quiz-container {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hide {
    display: none;
}

@media screen and (max-width: 500px) {
    #heading {
        font-size: 1.5em;
    }

    #day-night {
        width: 90%;
    }

    h5 {
        font-size: 70%;
    }

    h4 {
        padding: 10px;
        font-size: 0.8em;
    }
}